<!DOCTYPE html>
<html>
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    <button id="start">Start</button>
    <br> 
    Queue: <div id="queue"></div>
    Producers: <div id="producers"></div>
    Consumers: <div id="consumers"></div>

    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        $('#start').click(function() {
            socket.emit('start');
        });
        socket.on('queue', function(data) {
            $('#queue').text(JSON.stringify(data));
        });
        socket.on('producers', function(data) {
            $('#producers').text(JSON.stringify(data));
        });
        socket.on('consumers', function(data) {
            $('#consumers').text(JSON.stringify(data));
        });
    </script>
</body>
</html>