<!DOCTYPE html>
<html>
<head>
    <title>Producer-Consumer Monitor</title>
</head>
<body>
    <h1>Producer-Consumer Monitor</h1>
    <button id="start-button">Start</button>
    <ul id="queue"></ul>
    <ul id="producers"></ul>
    <ul id="consumers"></ul>
    <script>
        document.getElementById('start-button').addEventListener('click', function() {
            fetch('/start');
        });

        var source = new EventSource("/update");
        source.onmessage = function(event) {
            var data = JSON.parse(event.data);
            var queue = document.getElementById('queue');
            var producers = document.getElementById('producers');
            var consumers = document.getElementById('consumers');
            queue.innerHTML = '';
            producers.innerHTML = '';
            consumers.innerHTML = '';
            data.queue.forEach(function(item) {
                var li = document.createElement('li');
                li.textContent = item;
                queue.appendChild(li);
            });
            data.producers.forEach(function(item) {
                var li = document.createElement('li');
                li.textContent = item;
                producers.appendChild(li);
            });
            data.consumers.forEach(function(item) {
                var li = document.createElement('li');
                li.textContent = item;
                consumers.appendChild(li);
            });
        };
    </script>
</body>
</html>